.portfolioSection
{
    text-align: center;
    color:#c7b5a1;
    background-image: linear-gradient(0deg, #020b14 0%, #384a5e 100%);
    height:100vh;
}

/* .repoGrid {

    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex: 1; 
} */

.flexContainer {
    display: flex;
}

.flexContainer div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex: 1; 
  }