.header {
    width: 100%;
    height: 5rem;
    align-items: center;
    background-image: linear-gradient(180deg, #020b14 0%, #384a5e 100%);
    /* position: sticky; */
    position: relative;
    display: block;
}

/* .dropped{
    width: 100%;
} */

.dropped div {
    color:rgb(62, 84, 129);
    text-align: center;
    font-size: 2rem;
}

.dropped ul
{
    /* width:100%; */
    position: relative;
    top:5%;
    float:right;
    /* margin-top: 20px; */
}

.nav{
    position: relative;
    align-items: baseline;
    display: flex;
    list-style:none;
    /* float:inline-start; */
    float:right;
    top:20%;
    /* bottom:1.5vw;  */
    /* padding:0; */
}
@media (max-width: 990px) {
    .nav { display: none; }
  }

.header li {
    margin-left: 3rem;
    font-size: large;
}

.header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }

.header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #6375af;
  }