.header {
    width: 100%;
    height: 5rem;
    align-items: center;
    background-color: rgb(34, 26, 26);
  }


.dropped{
    width: 100%;
}
.dropped div {
    color:green;
    text-align: center;
    font-size: 2rem;
}

.dropped ul
{
    width:100%;
    float:right;
    /* height: 0%; */
}
.test{
    position: sticky;
    align-items: baseline;
    display: flex;
    list-style:none;
    /* float:inline-start; */
    float:right;
    /* bottom:1.5vw;  */
    /* padding:0; */
}
@media (max-width: 960px) {
    .test { display: none; }
  }

.header li {
    margin-left: 3rem;
    font-size: large;
}

.header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }

.header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fcb8d2;
  }