/* *{
    background-color: rgba(0, 0, 65, 0.856);
} */

.overall{
    scroll-behavior: smooth;
    /* background-color: rgba(0, 0, 65, 0.856); */
}


.introduction
{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 15%;
}
.aboutSection
{
    margin-left: 15%;
    margin-bottom: 15%;

}
.aboutSection header
{
    font-size: larger;
    /* text-align: center; */
}

.portfolioSection
{
    text-align: left;
    padding: 0 15%;
    margin-bottom: 15%;
}

.portfolioSection header
{
    font-size: larger;
}

.contactMeSection
{
    text-align: left;
    padding: 0 15%;
}