.container {
    float:right;
}
.container button {
    padding: 0;
    width: 25px;
    float:right;
    /* display:none; */
    cursor: pointer;
    /* right: 100%; */
    /* border: 0; */
    /* background-color: #fff; */
    /* color: #333; */
    /* outline-color: red; */
}

@media (min-width: 960px) {
    ul  { display: none; }
  }


.drop
{
  position:sticky;
  /* width: 300px; */
  left:88%;
  z-index: 2;
  border: px solid rgba(247, 14, 14, 0.705);
  box-shadow: 0 16px 24px 2px rgba(235, 8, 8, 0.774);
}

.drop ul
{
    /* left:0%; */
    list-style: none;
}

.drop a
{
    font-size: large;
    /* list-style-type: disc; */
    /* list-style: none; */
    /* margin-left: 5vh; */
}


/* .drop li
{
    padding: 8px 12px;
} */

.drop li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
  }